<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="./../vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>插值语法</h1>

        <hr></hr>
        <h1>指令语法</h1>
        <a v-bind:href="url">点击进入百度</a>
    <br/>
        <a :href="url">点击进入百度</a>
    </div>

    <script >
        const x = new Vue({
            el:"#root",
            data() {
                return {
                    name: 'xxxx',
                    url:"https://www.baidu.com/"
                };
            },
        })
    </script>
</body>


</html>